* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    color: #005FAC;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
}
.fa-solid, .fa-check{
    color:  #16D887;
}

/* banner style for the header */
.header {
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
}
.banner-title {
    color: #FFFFFF;
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    margin: 216px 230px 364px 845px;
    position: absolute;
}
.banner-description {
    color: #FFFFFF;
    width: 494px;
    height: 78px;
    margin: 468px 230px 262px 876px;
    text-align: right;
    position: absolute;
}
.btn-contact {
    margin: 578px 230px 166px 1210px;
    position: absolute;
}

/* main section */
main{
        max-width: 1600px;
        margin: 0 auto;
}
.previous-year{
    display:flex;
    gap:120px;
    height: 720px;
}
.previous-year-image {
    margin-top: 131px;
    margin-left: 206px;
}
.section-title {
    width: 288px;
    height: 94px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-top: 370px;
}

.section-description {
    color: #444343;
    width: 416px;
    height: 104px;
    margin-top: 24px;
}
.section-list {
    color: #444343;
    margin-bottom: 8px;
}

/* my plan section */
.my-plans .section-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 670px;
}
.my-plans-container {
    display: flex;
    gap: 80px;
    margin-left: 200px;
}
.plan{
    margin-bottom: 10px;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.plan-title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

/* main section banner */
.main-section-banner {
    width: 1140px;
    margin-left: 230px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    border-radius: 8px;
}
.section-container .section-title {
    width: 459px;
    height: 94px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-top: 60px;
    padding-left: 64px;
    margin-bottom: 24px;
}
.section-container .btn-primary {
    margin-left: 64px;
    margin-bottom: 60px;
}

/* motivational quotes section */
.motto-quotes {
    background-color: white;
    height:850px;
}
.motto-quotes-container{
    display: flex;
    gap: 100px;
    margin-left: 100px;
}
.motto-quotes .section-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-left: 600px;
}
.quote{
    width:500px;
    height:70px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
}
.quote-author {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    padding-top: 8px;
}
/* footer section */
.footer {
    display: flex;
    gap: 330px;
    background-color: #151414;
    height: 577px;
    color: #F8F8F8;
}
.footer-info{
    width: 485px;
    height: 317px;
    margin-top: 130px;
    margin-left: 230px;
}
.subscribe-form{
    width: 325px;
    height: 204px;
    margin-top: 130px;
    margin-right: 230px;
   
}
.footer-title {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}
.subscribe-form .footer-title{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}
.footer-description {
    width: 485px;
    height: 78px;
    margin-bottom: 24px;
    text-align: left;
    
}
.contact-info{
    margin-top: 16px;
    margin-bottom: 32px;
}
.contact-sources a {
    text-decoration: none;
    margin-right: 10px;
}
input {
    width: 325px;
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 5px;
}
.btn-subscribe {
    width: 170px;
    background-color:#005FAC;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    margin-top: 16px;
}